<div style="background-color: #e0f7e0; padding: 15px; border-radius: 5px;">
    <h1 style="color: Darkgreen;">Home Work - DataFrame<br><br>
        
        15.11.2024
</div>

In [6]:
import numpy as np
import pandas as pd

<div style="background-color: #e0f7e0; padding: 15px; border-radius: 5px;">
    <h3 style="color: Darkgreen;">"Read the following CSV file into a DataFrame."

</h3>
</div>

In [69]:
# Replace this with the correct file path for your system

file_path = r'C:\users\HP\hw_work.csv'  
# Read the CSV file into a Pandas DataFrame
df = pd.read_csv(file_path)

# Display the first few rows of the DataFrame
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110.0,45.07,197.4,99.0,16.78,244.7,91.0,11.01,10.0,3,2.70,1.0,False
1,OH,107,415,No,Yes,26,161.6,123.0,27.47,195.5,103.0,16.62,254.4,103.0,11.45,13.7,3,3.70,1.0,False
2,NJ,137,415,No,No,0,243.4,114.0,41.38,121.2,110.0,10.30,162.6,104.0,7.32,12.2,5,3.29,0.0,False
3,OH,84,408,Yes,No,0,299.4,71.0,50.90,61.9,88.0,5.26,196.9,89.0,8.86,6.6,7,1.78,2.0,False
4,OK,75,415,Yes,No,0,166.7,113.0,28.34,148.3,122.0,12.61,186.9,121.0,8.41,10.1,3,2.73,3.0,False

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            1. Explore the table using info:
        </strong>
        <br><br> <!-- This adds an empty line between the two parts -->
        * How many columns are in the table?<br>
* How many rows are in the table?<br>
* Give the name of a column that has missing values.<br>
* How much memory does the df occupy?
</div>

In [8]:
# Load the CSV into a DataFrame
file_path = r'C:\users\HP\hw_work.csv'  # Update this path as needed
df = pd.read_csv(file_path);

In [9]:
# Explore the DataFrame using info()
df.info();

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   3333 non-null   object
 1   Account length          3333 non-null   int64
 2   Area code               3333 non-null   int64
 3   International plan      3333 non-null   object
 4   Voice mail plan         3333 non-null   object
 5   Number vmail messages   3333 non-null   int64
 6   Total day minutes       3323 non-null   float64
 7   Total day calls         3323 non-null   float64
 8   Total day charge        3315 non-null   float64
 9   Total eve minutes       3324 non-null   float64
 10  Total eve calls         3325 non-null   float64
 11  Total eve charge        3333 non-null   float64
 12  Total night minutes     3333 non-null   float64
 13  Total night calls       3332 non-null   float64
 14  Total night charge      3333 non-null   float64
 15  Total intl minutes      3333 non-null   float64
 16  Total intl calls        3333 non-null   int64
 17  Total intl charge       3328 non-null   float64
 18  Customer service calls  3328 non-null   float64
 19  Churn                   3325 non-null   object
dtypes: float64(12), int64(4), object(4)
memory usage: 520.9+ KB

In [10]:
# How many columns are in the table?
num_columns = len(df.columns);
print(f"Number of columns: {num_columns}");

Number of columns: 20

In [11]:
# How many rows are in the table?
num_rows = len(df);
print(f"Number of rows: {num_rows}");

Number of rows: 3333

In [23]:
# Check for columns with missing values
columns_with_missing = df.columns[df.isnull().any()];
print(f"Column(s) with missing values: {columns_with_missing}");

Column(s) with missing values: Index(['Total day minutes', 'Total day calls', 'Total day charge',
       'Total eve minutes', 'Total eve calls', 'Total night calls',
       'Total intl charge', 'Customer service calls', 'Churn'],
      dtype='object')

In [12]:
# Memory usage of the DataFrame
memory_usage = df.memory_usage(deep=True).sum();
print(f"Memory usage of the DataFrame: {memory_usage} bytes");

Memory usage of the DataFrame: 1057906 bytes

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            2. Explore the 'length Account' column using describe:
        </strong>
        <br><br> <!-- This adds an empty line between the two parts -->
        * What is the highest value?<br>
* The lowest value?<br>
* What is the average of the column?<br>
* How many rows are there?
</div>

In [26]:
# Assuming 'length Account' is the name of the column
column_description = df['Account length'].describe();

print(column_description);

count    3333.000000
mean      101.064806
std        39.822106
min         1.000000
25%        74.000000
50%       101.000000
75%       127.000000
max       243.000000
Name: Account length, dtype: float64

In [27]:
# Get the highest value in the 'length Account' column
highest_value = df['Account length'].max();
print(f"The highest value in the 'length Account' column is: {highest_value}");

The highest value in the 'length Account' column is: 243

In [28]:
lowest_value = df['Account length'].min();
print(f"The lowest value in the 'length Account' column is: {lowest_value}");

The lowest value in the 'length Account' column is: 1

In [29]:
# Get the average (mean) value of the 'length Account' column
average_value = df['Account length'].mean();
print(f"The average value in the 'length Account' column is: {average_value}");

The average value in the 'length Account' column is: 101.06480648064806

In [30]:
# Get the number of non-null rows in the 'length Account' column
num_rows = df['Account length'].count();
print(f"The number of rows in the 'length Account' column is: {num_rows}");

The number of rows in the 'length Account' column is: 3333

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            3. Explore all the columns of the table using describe:
        </strong>
        <br><br> <!-- This adds an empty line between the two parts -->
        * Print the information in rows (each row will contain information about a different column)<br>
</div>

In [52]:
# Explore all columns using describe and transpose the result
summary = df.describe().transpose();
print(summary);

                         count        mean        std     min     25%     50%  \
Account length          3333.0  101.064806  39.822106    1.00   74.00  101.00
Area code               3333.0  437.182418  42.371290  408.00  408.00  415.00
Number vmail messages   3333.0    8.099010  13.688365    0.00    0.00    0.00
Total day minutes       3323.0  179.787150  54.419625    0.00  143.70  179.40
Total day calls         3323.0  100.456214  20.057356    0.00   87.00  101.00
Total day charge        3315.0   30.557831   9.255987    0.00   24.42   30.50
Total eve minutes       3324.0  201.033935  50.676652    0.00  166.60  201.40
Total eve calls         3325.0  100.110677  19.932115    0.00   87.00  100.00
Total eve charge        3333.0   17.083540   4.310668    0.00   14.16   17.12
Total night minutes     3333.0  200.872037  50.573847   23.20  167.00  201.20
Total night calls       3332.0  100.115246  19.566710   33.00   87.00  100.00
Total night charge      3333.0    9.039325   2.275873    1.04    7.52    9.05
Total intl minutes      3333.0   10.237294   2.791840    0.00    8.50   10.30
Total intl calls        3333.0    4.479448   2.461214    0.00    3.00    4.00
Total intl charge       3328.0    2.764588   0.754086    0.00    2.30    2.78
Customer service calls  3328.0    1.563101   1.315870    0.00    1.00    1.00

                            75%     max
Account length          127.000  243.00
Area code               510.000  510.00
Number vmail messages    20.000   51.00
Total day minutes       216.500  350.80
Total day calls         114.000  165.00
Total day charge         36.780   59.64
Total eve minutes       235.325  363.70
Total eve calls         114.000  170.00
Total eve charge         20.000   30.91
Total night minutes     235.300  395.00
Total night calls       113.000  175.00
Total night charge       10.590   17.77
Total intl minutes       12.100   20.00
Total intl calls          6.000   20.00
Total intl charge         3.270    5.40
Customer service calls    2.000    9.00

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            4. PRINTING:
        </strong>
        <br><br> <!-- This adds an empty line between the two parts -->
        * Print the first 5 rows<br>
* Print the last 5 rows<br>
</div>

In [32]:
# Print the first 5 rows of the DataFrame
print("First 5 rows:");
print(df.head());

First 5 rows:
  State  Account length  Area code International plan Voice mail plan  \
0    KS             128        415                 No             Yes
1    OH             107        415                 No             Yes
2    NJ             137        415                 No              No
3    OH              84        408                Yes              No
4    OK              75        415                Yes              No

   Number vmail messages  Total day minutes  Total day calls  \
0                     25              265.1            110.0
1                     26              161.6            123.0
2                      0              243.4            114.0
3                      0              299.4             71.0
4                      0              166.7            113.0

   Total day charge  Total eve minutes  Total eve calls  Total eve charge  \
0             45.07              197.4             99.0             16.78
1             27.47              195.5            103.0             16.62
2             41.38              121.2            110.0             10.30
3             50.90               61.9             88.0              5.26
4             28.34              148.3            122.0             12.61

   Total night minutes  Total night calls  Total night charge  \
0                244.7               91.0               11.01
1                254.4              103.0               11.45
2                162.6              104.0                7.32
3                196.9               89.0                8.86
4                186.9              121.0                8.41

   Total intl minutes  Total intl calls  Total intl charge  \
0                10.0                 3               2.70
1                13.7                 3               3.70
2                12.2                 5               3.29
3                 6.6                 7               1.78
4                10.1                 3               2.73

   Customer service calls  Churn
0                     1.0  False
1                     1.0  False
2                     0.0  False
3                     2.0  False
4                     3.0  False

In [33]:
# Print the last 5 rows of the DataFrame
print("\nLast 5 rows:");
print(df.tail());

Last 5 rows:
     State  Account length  Area code International plan Voice mail plan  \
3328    AZ             192        415                 No             Yes
3329    WV              68        415                 No              No
3330    RI              28        510                 No              No
3331    CT             184        510                Yes              No
3332    TN              74        415                 No             Yes

      Number vmail messages  Total day minutes  Total day calls  \
3328                     36              156.2             77.0
3329                      0              231.1             57.0
3330                      0              180.8            109.0
3331                      0              213.8            105.0
3332                     25              234.4            113.0

      Total day charge  Total eve minutes  Total eve calls  Total eve charge  \
3328             26.55              215.5            126.0             18.32
3329             39.29              153.4             55.0             13.04
3330             30.74              288.8             58.0             24.55
3331             36.35              159.6             84.0             13.57
3332             39.85              265.9             82.0             22.60

      Total night minutes  Total night calls  Total night charge  \
3328                279.1               83.0               12.56
3329                191.3              123.0                8.61
3330                191.9               91.0                8.64
3331                139.2              137.0                6.26
3332                241.4               77.0               10.86

      Total intl minutes  Total intl calls  Total intl charge  \
3328                 9.9                 6               2.67
3329                 9.6                 4               2.59
3330                14.1                 6               3.81
3331                 5.0                10               1.35
3332                13.7                 4               3.70

      Customer service calls  Churn
3328                     2.0  False
3329                     3.0  False
3330                     2.0  False
3331                     2.0  False
3332                     0.0  False

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            5. Print the values of the 'State' column only:
        </strong>
</div>

In [50]:
print(df['State']);

0       KS
1       OH
2       NJ
3       OH
4       OK
        ..
3328    AZ
3329    WV
3330    RI
3331    CT
3332    TN
Name: State, Length: 3333, dtype: object

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            6. Print the values of the 'State' column and 'Plan International' in one action:
        </strong>
</div>

In [42]:
add_df = print(df[['State', 'International plan']]);
add_df

     State International plan
0       KS                 No
1       OH                 No
2       NJ                 No
3       OH                Yes
4       OK                Yes
...    ...                ...
3328    AZ                 No
3329    WV                 No
3330    RI                 No
3331    CT                Yes
3332    TN                 No

[3333 rows x 2 columns]

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            7. "Print all the rows where 'International plan' is 'Yes':
        </strong>
</div>

In [44]:
# Filter and print all rows where 'International plan' is 'Yes'
filtered_df = df[df['International plan'] == 'Yes'];

filtered_df

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
3,OH,84,408,Yes,No,0,299.4,71.0,50.90,61.9,88.0,5.26,196.9,89.0,8.86,6.6,7,1.78,2.0,False
4,OK,75,415,Yes,No,0,166.7,113.0,28.34,148.3,122.0,12.61,186.9,121.0,8.41,10.1,3,2.73,3.0,False
5,AL,118,510,Yes,No,0,223.4,98.0,37.98,220.6,101.0,18.75,203.9,118.0,9.18,6.3,6,1.70,0.0,False
7,MO,147,415,Yes,No,0,157.0,79.0,26.69,103.1,94.0,8.76,211.8,96.0,9.53,7.1,6,1.92,0.0,False
9,WV,141,415,Yes,Yes,37,258.6,84.0,43.96,222.0,111.0,18.87,326.4,97.0,14.69,11.2,5,3.02,0.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3304,IL,71,510,Yes,No,0,186.1,114.0,31.64,198.6,140.0,16.88,206.5,80.0,9.29,13.8,5,3.73,4.0,True
3309,VT,100,408,Yes,No,0,219.4,112.0,37.30,225.7,102.0,19.18,255.3,95.0,11.49,12.0,4,3.24,4.0,False
3317,SD,163,415,Yes,No,0,197.2,90.0,33.52,188.5,113.0,16.02,211.1,94.0,9.50,7.8,8,2.11,1.0,False
3320,GA,122,510,Yes,No,0,140.0,101.0,23.80,196.4,77.0,16.69,120.1,133.0,5.40,9.7,4,2.62,4.0,True
3331,CT,184,510,Yes,No,0,213.8,105.0,36.35,159.6,84.0,13.57,139.2,137.0,6.26,5.0,10,1.35,2.0,False

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            8. Print all rows where ‘International plan’ is ‘Yes’ and ‘Churn’ is True:
        </strong>
</div>

In [47]:
# Filter and print all rows where 'International plan' is 'Yes' and 'Churn' is True
filtered_df = df[(df['International plan'] == 'Yes') & (df['Churn'] == True)]ף

filtered_df

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
41,MD,135,408,Yes,Yes,41,173.1,85.0,29.43,203.9,107.0,17.33,122.2,78.0,5.50,14.6,15,3.94,0.0,True
115,ME,36,510,Yes,Yes,42,196.8,89.0,33.46,254.9,122.0,21.67,138.3,126.0,6.22,20.0,6,5.40,0.0,True
144,VT,117,408,Yes,No,0,167.1,86.0,28.41,177.5,87.0,15.09,249.4,132.0,11.22,14.1,7,3.81,2.0,True
198,ME,131,510,Yes,Yes,26,292.9,101.0,49.79,199.7,97.0,16.97,255.3,127.0,11.49,13.8,7,3.73,4.0,True
214,FL,70,510,Yes,No,0,226.7,98.0,38.54,228.1,115.0,19.39,73.2,93.0,3.29,17.6,4,4.75,2.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3246,NC,77,408,Yes,Yes,44,103.2,117.0,17.54,236.3,86.0,20.09,203.5,101.0,9.16,11.9,2,3.21,0.0,True
3255,RI,138,510,Yes,No,0,286.2,61.0,48.65,187.2,60.0,15.91,146.2,114.0,6.58,11.0,4,2.97,2.0,True
3291,MI,119,510,Yes,Yes,22,172.1,119.0,29.26,223.6,133.0,19.01,150.0,94.0,6.75,13.9,20,3.75,1.0,True
3304,IL,71,510,Yes,No,0,186.1,114.0,31.64,198.6,140.0,16.88,206.5,80.0,9.29,13.8,5,3.73,4.0,True
3320,GA,122,510,Yes,No,0,140.0,101.0,23.80,196.4,77.0,16.69,120.1,133.0,5.40,9.7,4,2.62,4.0,True

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            9. Print the row at index 14, hint: iloc:
        </strong>
</div>

In [53]:
# Print the row at index 14
print(df.iloc[14])ף

State                        IA
Account length               62
Area code                   415
International plan           No
Voice mail plan              No
Number vmail messages         0
Total day minutes           NaN
Total day calls             NaN
Total day charge            NaN
Total eve minutes         307.2
Total eve calls            76.0
Total eve charge          26.11
Total night minutes       203.0
Total night calls          99.0
Total night charge         9.14
Total intl minutes         13.1
Total intl calls              6
Total intl charge          3.54
Customer service calls      4.0
Churn                     False
Name: 14, dtype: object

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            10. Print the rows from index 14 to the end, hint: iloc:
        </strong>
</div>

In [54]:
# Print rows from index 14 to the end
print(df.iloc[14:]);

     State  Account length  Area code International plan Voice mail plan  \
14      IA              62        415                 No              No
15      NY             161        415                 No              No
16      ID              85        408                 No             Yes
17      VT              93        510                 No              No
18      VA              76        510                 No             Yes
...    ...             ...        ...                ...             ...
3328    AZ             192        415                 No             Yes
3329    WV              68        415                 No              No
3330    RI              28        510                 No              No
3331    CT             184        510                Yes              No
3332    TN              74        415                 No             Yes

      Number vmail messages  Total day minutes  Total day calls  \
14                        0                NaN              NaN
15                        0                NaN              NaN
16                       27                NaN              NaN
17                        0                NaN              NaN
18                       33                NaN              NaN
...                     ...                ...              ...
3328                     36              156.2             77.0
3329                      0              231.1             57.0
3330                      0              180.8            109.0
3331                      0              213.8            105.0
3332                     25              234.4            113.0

      Total day charge  Total eve minutes  Total eve calls  Total eve charge  \
14                 NaN              307.2             76.0             26.11
15                 NaN              317.8             97.0             27.01
16                 NaN              280.9             90.0             23.88
17                 NaN              218.2            111.0             18.55
18                 NaN              212.8             65.0             18.09
...                ...                ...              ...               ...
3328             26.55              215.5            126.0             18.32
3329             39.29              153.4             55.0             13.04
3330             30.74              288.8             58.0             24.55
3331             36.35              159.6             84.0             13.57
3332             39.85              265.9             82.0             22.60

      Total night minutes  Total night calls  Total night charge  \
14                  203.0               99.0                9.14
15                  160.6              128.0                7.23
16                   89.3                NaN                4.02
17                  129.6              121.0                5.83
18                  165.7              108.0                7.46
...                   ...                ...                 ...
3328                279.1               83.0               12.56
3329                191.3              123.0                8.61
3330                191.9               91.0                8.64
3331                139.2              137.0                6.26
3332                241.4               77.0               10.86

      Total intl minutes  Total intl calls  Total intl charge  \
14                  13.1                 6               3.54
15                   5.4                 9               1.46
16                  13.8                 4               3.73
17                   8.1                 3               2.19
18                  10.0                 5               2.70
...                  ...               ...                ...
3328                 9.9                 6               2.67
3329                 9.6                 4               2.59
3330                14.1                 6               3.81
3331                 5.0                10               1.35
3332                13.7                 4               3.70

      Customer service calls  Churn
14                       4.0  False
15                       4.0   True
16                       1.0  False
17                       3.0  False
18                       1.0  False
...                      ...    ...
3328                     2.0  False
3329                     3.0  False
3330                     2.0  False
3331                     2.0  False
3332                     0.0  False

[3319 rows x 20 columns]

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            11. Set ‘State’ as the index, now print the rows where the index is 'LA', hint: index_set loc:
        </strong>
</div>

In [64]:
# تعيين عمود 'State' كمؤشر
df.set_index('State', inplace=True)

# طباعة الصفوف التي يكون فيها المؤشر 'LA'
print(df.loc['LA'])

       Account length  Area code International plan Voice mail plan  \
State
LA                117        408                 No              No
LA                172        408                 No              No
LA                155        415                 No              No
LA                121        408                 No              No
LA                151        408                 No              No
LA                179        408                 No              No
LA                 99        415                 No              No
LA                 93        415                 No              No
LA                149        415                 No             Yes
LA                 67        510                 No              No
LA                172        415                 No              No
LA                 43        415                 No              No
LA                158        408                 No              No
LA                106        408                 No              No
LA                108        510                 No             Yes
LA                115        415                 No             Yes
LA                109        415                 No             Yes
LA                 87        415                 No              No
LA                154        510                 No              No
LA                118        408                 No              No
LA                  9        415                 No             Yes
LA                155        408                 No             Yes
LA                 95        415                 No              No
LA                162        510                 No             Yes
LA                 89        415                 No              No
LA                 13        415                 No              No
LA                 99        510                 No              No
LA                111        415                 No             Yes
LA                 81        415                 No             Yes
LA                112        510                 No              No
LA                128        415                 No              No
LA                 82        415                 No              No
LA                150        415                 No              No
LA                133        415                 No              No
LA                124        510                 No              No
LA                 40        510                 No              No
LA                114        415                 No              No
LA                163        408                 No             Yes
LA                 53        415                 No              No
LA                 69        415                 No             Yes
LA                 98        408                 No              No
LA                 27        408                 No              No
LA                123        510                 No             Yes
LA                153        510                 No              No
LA                123        415                 No             Yes
LA                 94        415                 No              No
LA                 91        408                 No              No
LA                 62        415                 No              No
LA                 91        415                 No              No
LA                 75        510                Yes              No
LA                128        415                 No              No

       Number vmail messages  Total day minutes  Total day calls  \
State
LA                         0              184.5             97.0
LA                         0              212.0            121.0
LA                         0              203.4            100.0
LA                         0              181.5            121.0
LA                         0              178.7            116.0
LA                         0              219.2             92.0
LA                         0              241.1             72.0
LA                         0              179.3             93.0
LA                        20              198.9             77.0
LA                         0              310.4             97.0
LA                         0              215.7            140.0
LA                         0              241.9            101.0
LA                         0              202.0            126.0
LA                         0              220.7            120.0
LA                        30              276.6             99.0
LA                        26              170.5            107.0
LA                        27              166.9             85.0
LA                         0              228.7             90.0
LA                         0              166.9             99.0
LA                         0              187.4             97.0
LA                        39              214.1            108.0
LA                        39              183.3            106.0
LA                         0              141.1             84.0
LA                        33              184.5            139.0
LA                         0              141.1             92.0
LA                         0               58.4            121.0
LA                         0              142.3             89.0
LA                        28              128.8            104.0
LA                        36              115.9            120.0
LA                         0              174.5            127.0
LA                         0              148.5            105.0
LA                         0              197.7            101.0
LA                         0              136.6            112.0
LA                         0              216.2             67.0
LA                         0              143.3            120.0
LA                         0              109.4            107.0
LA                         0              169.2             96.0
LA                        23              224.0            126.0
LA                         0              145.1            116.0
LA                        37              155.0             98.0
LA                         0              136.1             82.0
LA                         0               82.6            105.0
LA                        32              212.3             77.0
LA                         0              166.8            127.0
LA                        33              146.6             87.0
LA                         0              212.1             98.0
LA                         0              147.2            121.0
LA                         0              186.8             94.0
LA                         0              190.5            128.0
LA                         0              153.2             78.0
LA                         0              147.7             94.0

       Total day charge  Total eve minutes  Total eve calls  Total eve charge  \
State
LA                31.37              351.6             80.0             29.89
LA                  NaN                NaN              NaN              2.65
LA                34.58              190.9            104.0             16.23
LA                30.86              218.4             98.0             18.56
LA                30.38              292.1            138.0             24.83
LA                37.26              149.4            125.0             12.70
LA                40.99              155.6             98.0             13.23
LA                30.48              178.6             98.0             15.18
LA                33.81              274.0             88.0             23.29
LA                52.77               66.5            123.0              5.65
LA                36.67              146.3             84.0             12.44
LA                41.12              129.4            121.0             11.00
LA                34.34              163.5             86.0             13.90
LA                37.52              270.2             95.0             22.97
LA                47.02              220.1            113.0             18.71
LA                28.99              217.2             77.0             18.46
LA                28.37              221.2             92.0             18.80
LA                38.88              163.0             99.0             13.86
LA                28.37              154.9             97.0             13.17
LA                31.86              177.8             89.0             15.11
LA                36.40              169.2            115.0             14.38
LA                31.16              205.1            101.0             17.43
LA                23.99              211.4            108.0             17.97
LA                31.37              183.2             78.0             15.57
LA                23.99              249.1            126.0             21.17
LA                 9.93              262.2             64.0             22.29
LA                24.19              204.5             95.0             17.38
LA                21.90              157.3             52.0             13.37
LA                19.70              236.6             95.0             20.11
LA                29.67              259.3             71.0             22.04
LA                25.25              243.0            106.0             20.66
LA                33.61              127.6             83.0             10.85
LA                23.22              209.4             81.0             17.80
LA                36.75              222.2            133.0             18.89
LA                24.36              230.7            111.0             19.61
LA                18.60              244.7            102.0             20.80
LA                28.76              149.9             83.0             12.74
LA                38.08              233.5             89.0             19.85
LA                24.67              233.7             82.0             19.86
LA                26.35              142.4            105.0             12.10
LA                23.14              156.3            118.0             13.29
LA                14.04              204.0             99.0             17.34
LA                36.09              251.5             78.0             21.38
LA                28.36              143.5            121.0             12.20
LA                24.92              114.8             59.0              9.76
LA                36.06              189.4             89.0             16.10
LA                25.02              175.2             87.0             14.89
LA                31.76              207.6             92.0             17.65
LA                32.39              205.5            103.0             17.47
LA                26.04              210.8             99.0             17.92
LA                25.11              283.3             83.0             24.08

       Total night minutes  Total night calls  Total night charge  \
State
LA                   215.8               90.0                9.71
LA                   293.3               78.0               13.20
LA                   196.0              119.0                8.82
LA                   161.6              103.0                7.27
LA                   265.9              101.0               11.97
LA                   244.7              104.0               11.01
LA                   188.2              109.0                8.47
LA                   225.2              131.0               10.13
LA                   190.7               76.0                8.58
LA                   246.5               99.0               11.09
LA                   264.6               83.0               11.91
LA                   264.8              104.0               11.92
LA                   195.4               84.0                8.79
LA                   121.6              113.0                5.47
LA                   177.9               95.0                8.01
LA                   225.7               71.0               10.16
LA                   197.3               97.0                8.88
LA                   154.1               90.0                6.93
LA                   189.4               89.0                8.52
LA                   233.4               97.0               10.50
LA                   189.7              117.0                8.54
LA                   263.7               90.0               11.87
LA                   103.7              127.0                4.67
LA                   127.4              106.0                5.73
LA                   136.0               73.0                6.12
LA                   159.0              115.0                7.15
LA                   203.1              114.0                9.14
LA                   147.4               76.0                6.63
LA                   255.0               90.0               11.48
LA                   170.5              120.0                7.67
LA                   255.2              114.0               11.48
LA                   142.1              103.0                6.39
LA                   161.1               78.0                7.25
LA                   192.0               95.0                8.64
LA                   214.3               91.0                9.64
LA                   276.9              123.0               12.46
LA                   196.9              119.0                8.86
LA                   293.9              104.0               13.23
LA                   208.7               95.0                9.39
LA                   143.7              117.0                6.47
LA                   158.8               83.0                7.15
LA                   224.2              122.0               10.09
LA                   208.7               85.0                9.39
LA                   210.7              130.0                9.48
LA                   220.4               99.0                9.92
LA                   352.2               95.0               15.85
LA                   136.3               80.0                6.13
LA                   195.0               98.0                8.78
LA                   130.7               63.0                5.88
LA                   153.5              100.0                6.91
LA                   188.3              124.0                8.47

       Total intl minutes  Total intl calls  Total intl charge  \
State
LA                    8.7                 4               2.35
LA                   12.6                10               3.40
LA                    8.9                 4               2.40
LA                    8.5                 5               2.30
LA                    9.8                 4               2.65
LA                    6.1                 5               1.65
LA                   11.6                10               3.13
LA                   11.5                 6               3.11
LA                   14.3                 9               3.86
LA                    9.2                10               2.48
LA                    7.1                 1               1.92
LA                    5.9                 3               1.59
LA                   10.4                 6               2.81
LA                    8.7                 5               2.35
LA                    9.8                 6               2.65
LA                   13.6                 5               3.67
LA                   12.3                 4               3.32
LA                   11.8                 3               3.19
LA                    7.2                 5               1.94
LA                   12.2                 6               3.29
LA                   10.1                 3               2.73
LA                    5.1                 7               1.38
LA                    5.9                 6               1.59
LA                   12.3                 6               3.32
LA                   10.8                 2               2.92
LA                   11.9                 5               3.21
LA                    9.1                 1               2.46
LA                   10.3                 2               2.78
LA                   11.7                 6               3.16
LA                   11.3                 7               3.05
LA                    6.8                 2               1.84
LA                   13.5                 3               3.65
LA                   12.2                 2               3.29
LA                    3.1                 1               0.84
LA                    7.8                 2               2.11
LA                    7.1                 7               1.92
LA                    4.6                 4               1.24
LA                    8.8                 4               2.38
LA                    7.9                 5               2.13
LA                    5.9                 4               1.59
LA                   10.1                 5               2.73
LA                    9.1                 4               2.46
LA                    6.6                 2               1.78
LA                   11.8                 4               3.19
LA                    2.9                 7               0.78
LA                    8.4                 5               2.27
LA                   13.3                 3               3.59
LA                    8.8                 4               2.38
LA                   13.8                 5               3.73
LA                    7.8                 3               2.11
LA                    6.9                 5               1.86

       Customer service calls  Churn
State
LA                        1.0  False
LA                        3.0  False
LA                        0.0   True
LA                        1.0  False
LA                        0.0  False
LA                        0.0  False
LA                        1.0  False
LA                        3.0  False
LA                        1.0  False
LA                        4.0  False
LA                        3.0  False
LA                        1.0  False
LA                        1.0  False
LA                        1.0  False
LA                        2.0  False
LA                        6.0  False
LA                        1.0   True
LA                        1.0  False
LA                        0.0  False
LA                        1.0  False
LA                        1.0  False
LA                        1.0  False
LA                        3.0  False
LA                        0.0  False
LA                        2.0  False
LA                        1.0  False
LA                        0.0  False
LA                        2.0  False
LA                        3.0  False
LA                        1.0  False
LA                        1.0  False
LA                        1.0  False
LA                        4.0   True
LA                        2.0  False
LA                        4.0   True
LA                        0.0  False
LA                        2.0  False
LA                        1.0  False
LA                        2.0  False
LA                        1.0  False
LA                        2.0  False
LA                        1.0  False
LA                        3.0  False
LA                        0.0  False
LA                        0.0  False
LA                        3.0  False
LA                        2.0  False
LA                        3.0  False
LA                        0.0  False
LA                        1.0  False
LA                        2.0  False

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
           12. Delete the column ‘Area code’, hint: drop by axis of column:
        </strong>
</div>

In [65]:
# Delete the 'Area code' column
df.drop('Area code', axis=1, inplace=True);

print(df);

       Account length International plan Voice mail plan  \
State
KS                128                 No             Yes
OH                107                 No             Yes
NJ                137                 No              No
OH                 84                Yes              No
OK                 75                Yes              No
...               ...                ...             ...
AZ                192                 No             Yes
WV                 68                 No              No
RI                 28                 No              No
CT                184                Yes              No
TN                 74                 No             Yes

       Number vmail messages  Total day minutes  Total day calls  \
State
KS                        25              265.1            110.0
OH                        26              161.6            123.0
NJ                         0              243.4            114.0
OH                         0              299.4             71.0
OK                         0              166.7            113.0
...                      ...                ...              ...
AZ                        36              156.2             77.0
WV                         0              231.1             57.0
RI                         0              180.8            109.0
CT                         0              213.8            105.0
TN                        25              234.4            113.0

       Total day charge  Total eve minutes  Total eve calls  Total eve charge  \
State
KS                45.07              197.4             99.0             16.78
OH                27.47              195.5            103.0             16.62
NJ                41.38              121.2            110.0             10.30
OH                50.90               61.9             88.0              5.26
OK                28.34              148.3            122.0             12.61
...                 ...                ...              ...               ...
AZ                26.55              215.5            126.0             18.32
WV                39.29              153.4             55.0             13.04
RI                30.74              288.8             58.0             24.55
CT                36.35              159.6             84.0             13.57
TN                39.85              265.9             82.0             22.60

       Total night minutes  Total night calls  Total night charge  \
State
KS                   244.7               91.0               11.01
OH                   254.4              103.0               11.45
NJ                   162.6              104.0                7.32
OH                   196.9               89.0                8.86
OK                   186.9              121.0                8.41
...                    ...                ...                 ...
AZ                   279.1               83.0               12.56
WV                   191.3              123.0                8.61
RI                   191.9               91.0                8.64
CT                   139.2              137.0                6.26
TN                   241.4               77.0               10.86

       Total intl minutes  Total intl calls  Total intl charge  \
State
KS                   10.0                 3               2.70
OH                   13.7                 3               3.70
NJ                   12.2                 5               3.29
OH                    6.6                 7               1.78
OK                   10.1                 3               2.73
...                   ...               ...                ...
AZ                    9.9                 6               2.67
WV                    9.6                 4               2.59
RI                   14.1                 6               3.81
CT                    5.0                10               1.35
TN                   13.7                 4               3.70

       Customer service calls  Churn
State
KS                        1.0  False
OH                        1.0  False
NJ                        0.0  False
OH                        2.0  False
OK                        3.0  False
...                       ...    ...
AZ                        2.0  False
WV                        3.0  False
RI                        2.0  False
CT                        2.0  False
TN                        0.0  False

[3333 rows x 18 columns]

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            13. Delete the row with index 3328, hint: drop by axis of row:
        </strong>
</div>

In [73]:
df.reset_index(drop=True, inplace=True)

# drop the row by position (index 3328)
df.drop(3328, axis=0, inplace=True)
print(df)

     State  Account length  Area code International plan Voice mail plan  \
0       KS             128        415                 No             Yes
1       OH             107        415                 No             Yes
2       NJ             137        415                 No              No
3       OH              84        408                Yes              No
4       OK              75        415                Yes              No
...    ...             ...        ...                ...             ...
3327    SC              79        415                 No              No
3329    WV              68        415                 No              No
3330    RI              28        510                 No              No
3331    CT             184        510                Yes              No
3332    TN              74        415                 No             Yes

      Number vmail messages  Total day minutes  Total day calls  \
0                        25              265.1            110.0
1                        26              161.6            123.0
2                         0              243.4            114.0
3                         0              299.4             71.0
4                         0              166.7            113.0
...                     ...                ...              ...
3327                      0              134.7             98.0
3329                      0              231.1             57.0
3330                      0              180.8            109.0
3331                      0              213.8            105.0
3332                     25              234.4            113.0

      Total day charge  Total eve minutes  Total eve calls  Total eve charge  \
0                45.07              197.4             99.0             16.78
1                27.47              195.5            103.0             16.62
2                41.38              121.2            110.0             10.30
3                50.90               61.9             88.0              5.26
4                28.34              148.3            122.0             12.61
...                ...                ...              ...               ...
3327             22.90              189.7             68.0             16.12
3329             39.29              153.4             55.0             13.04
3330             30.74              288.8             58.0             24.55
3331             36.35              159.6             84.0             13.57
3332             39.85              265.9             82.0             22.60

      Total night minutes  Total night calls  Total night charge  \
0                   244.7               91.0               11.01
1                   254.4              103.0               11.45
2                   162.6              104.0                7.32
3                   196.9               89.0                8.86
4                   186.9              121.0                8.41
...                   ...                ...                 ...
3327                221.4              128.0                9.96
3329                191.3              123.0                8.61
3330                191.9               91.0                8.64
3331                139.2              137.0                6.26
3332                241.4               77.0               10.86

      Total intl minutes  Total intl calls  Total intl charge  \
0                   10.0                 3               2.70
1                   13.7                 3               3.70
2                   12.2                 5               3.29
3                    6.6                 7               1.78
4                   10.1                 3               2.73
...                  ...               ...                ...
3327                11.8                 5               3.19
3329                 9.6                 4               2.59
3330                14.1                 6               3.81
3331                 5.0                10               1.35
3332                13.7                 4               3.70

      Customer service calls  Churn
0                        1.0  False
1                        1.0  False
2                        0.0  False
3                        2.0  False
4                        3.0  False
...                      ...    ...
3327                     2.0  False
3329                     3.0  False
3330                     2.0  False
3331                     2.0  False
3332                     0.0  False

[3332 rows x 20 columns]

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            14. Create a new column called ‘total_min’ as the sum of the columns: ‘Total intl minutes’ and ‘Total night minutes’:
        </strong>
        <br><br> <!-- This adds an empty line between the two parts -->
        * Create a new column with their average:<br>
</div>

In [74]:
# Create a new column 'total_min' as the sum of 'Total intl minutes' and 'Total night minutes'
df['total_min'] = df['Total intl minutes'] + df['Total night minutes'];

print(df[['Total intl minutes', 'Total night minutes', 'total_min']].head());
#############################################################################
# Create a new column 'average_min' as the average of 'Total intl minutes' and 'Total night minutes'
df['average_min'] = (df['Total intl minutes'] + df['Total night minutes']) / 2

# Print the DataFrame to confirm the new column is added
print(df[['Total intl minutes', 'Total night minutes', 'average_min']].head());

   Total intl minutes  Total night minutes  total_min
0                10.0                244.7      254.7
1                13.7                254.4      268.1
2                12.2                162.6      174.8
3                 6.6                196.9      203.5
4                10.1                186.9      197.0
   Total intl minutes  Total night minutes  average_min
0                10.0                244.7       127.35
1                13.7                254.4       134.05
2                12.2                162.6        87.40
3                 6.6                196.9       101.75
4                10.1                186.9        98.50

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            15. Create a new table consisting of the first and last row of the current table using concat, ignore the previous indexes during the join:
        </strong>
</div>

In [75]:
# Select the first and last row
first_row = df.iloc[:1];  # Select the first row (as a DataFrame)
last_row = df.iloc[-1:];  # Select the last row (as a DataFrame)

# Concatenate the first and last row, ignoring the previous indexes
new_table = pd.concat([first_row, last_row], ignore_index=True);

print(new_table);

  State  Account length  Area code International plan Voice mail plan  \
0    KS             128        415                 No             Yes
1    TN              74        415                 No             Yes

   Number vmail messages  Total day minutes  Total day calls  \
0                     25              265.1            110.0
1                     25              234.4            113.0

   Total day charge  Total eve minutes  ...  Total night minutes  \
0             45.07              197.4  ...                244.7
1             39.85              265.9  ...                241.4

   Total night calls  Total night charge  Total intl minutes  \
0               91.0               11.01                10.0
1               77.0               10.86                13.7

   Total intl calls  Total intl charge  Customer service calls  Churn  \
0                 3                2.7                     1.0  False
1                 4                3.7                     0.0  False

   total_min average_min
0      254.7      127.35
1      255.1      127.55

[2 rows x 22 columns]

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            16. Create a new pandas Series from a dictionary and add it to the current table using concat, ignore the previous indexes during the join:
        </strong>
</div>

In [76]:
# Create a dictionary with sample data (adjust to match your DataFrame's columns)
new_data = {
    'State': 'TX',
    'Account length': 150,
    'Area code': 415,
    'International plan': 'No',
    'Voice mail plan': 'Yes',
    'Number vmail messages': 25,
    'Total day minutes': 120.5,
    'Total day calls': 70,
    'Total day charge': 20.47,
    'Total eve minutes': 200.2,
    'Total eve calls': 120,
    'Total eve charge': 18.04,
    'Total night minutes': 300.3,
    'Total night calls': 100,
    'Total night charge': 13.51,
    'Total intl minutes': 10.5,
    'Total intl calls': 5,
    'Total intl charge': 2.83,
    'Customer service calls': 3,
    'Churn': False
}

# Convert the dictionary into a pandas Series
new_row = pd.Series(new_data, name='new_row');

# Concatenate the new Series with the existing DataFrame (df), ignoring the old index
df_with_new_row = pd.concat([df, new_row.to_frame().T], ignore_index=True);

print(df_with_new_row);

     State Account length Area code International plan Voice mail plan  \
0       KS            128       415                 No             Yes
1       OH            107       415                 No             Yes
2       NJ            137       415                 No              No
3       OH             84       408                Yes              No
4       OK             75       415                Yes              No
...    ...            ...       ...                ...             ...
3328    WV             68       415                 No              No
3329    RI             28       510                 No              No
3330    CT            184       510                Yes              No
3331    TN             74       415                 No             Yes
3332    TX            150       415                 No             Yes

     Number vmail messages Total day minutes Total day calls Total day charge  \
0                       25             265.1           110.0            45.07
1                       26             161.6           123.0            27.47
2                        0             243.4           114.0            41.38
3                        0             299.4            71.0             50.9
4                        0             166.7           113.0            28.34
...                    ...               ...             ...              ...
3328                     0             231.1            57.0            39.29
3329                     0             180.8           109.0            30.74
3330                     0             213.8           105.0            36.35
3331                    25             234.4           113.0            39.85
3332                    25             120.5              70            20.47

     Total eve minutes  ... Total night minutes Total night calls  \
0                197.4  ...               244.7              91.0
1                195.5  ...               254.4             103.0
2                121.2  ...               162.6             104.0
3                 61.9  ...               196.9              89.0
4                148.3  ...               186.9             121.0
...                ...  ...                 ...               ...
3328             153.4  ...               191.3             123.0
3329             288.8  ...               191.9              91.0
3330             159.6  ...               139.2             137.0
3331             265.9  ...               241.4              77.0
3332             200.2  ...               300.3               100

     Total night charge Total intl minutes Total intl calls Total intl charge  \
0                 11.01               10.0                3               2.7
1                 11.45               13.7                3               3.7
2                  7.32               12.2                5              3.29
3                  8.86                6.6                7              1.78
4                  8.41               10.1                3              2.73
...                 ...                ...              ...               ...
3328               8.61                9.6                4              2.59
3329               8.64               14.1                6              3.81
3330               6.26                5.0               10              1.35
3331              10.86               13.7                4               3.7
3332              13.51               10.5                5              2.83

     Customer service calls  Churn total_min average_min
0                       1.0  False     254.7      127.35
1                       1.0  False     268.1      134.05
2                       0.0  False     174.8       87.40
3                       2.0  False     203.5      101.75
4                       3.0  False     197.0       98.50
...                     ...    ...       ...         ...
3328                    3.0  False     200.9      100.45
3329                    2.0  False     206.0      103.00
3330                    2.0  False     144.2       72.10
3331                    0.0  False     255.1      127.55
3332                      3  False       NaN         NaN

[3333 rows x 22 columns]

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            17. What does the parameter inplace mean?
        </strong>
</div>

The inplace parameter in Pandas is used to specify whether an operation should modify the existing DataFrame (or Series) directly, or whether it should return a new object with the changes applied.


<div style="border: 2px Darkred; padding: 15px; background-color: #f9f9f9;">
    <h5 style="color: Black;">
        <strong>
            Example 1:
</div>

In [78]:
# Sample DataFrame
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})

# Drop a column 'B' and modify the original DataFrame in place
df.drop('B', axis=1, inplace=True)

# Now df no longer has column 'B'
print(df)

   A
0  1
1  2
2  3


<div style="border: 2px Darkred; padding: 15px; background-color: #f9f9f9;">
    <h5 style="color: Black;">
        <strong>
            Example 2:
</div>

In [80]:
# Sample DataFrame
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})

# Drop column 'B' and return a new DataFrame (df is unchanged)
new_df = df.drop('B', axis=1)

# original df remains unchanged, new_df has column 'B' removed
print(df)
print(new_df)

   A  B
0  1  4
1  2  5
2  3  6
   A
0  1
1  2
2  3


<div style="border: 2px Darkred; padding: 15px; background-color: #f9f9f9;">
    <h5 style="color: Black;">
        <strong>
             Summary:
</div>

* inplace=False is the default value, so if you don't specify it, the operation will return a new copy of the DataFrame.
* inplace=True means the operation will be performed on the original DataFrame and modify it in place.

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            18. Can a column in a table serve as both an index and a regular column?
        </strong>
</div>

Yes, a column in a table (DataFrame) in Pandas can serve as both an index and a regular column, but not simultaneously in the exact same form. <br> Here’s how this works:

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkred;">
        <strong>
           1. Column as an Index:
        </strong>
        <br> <!-- This adds an empty line between the two parts -->
        <h5 style="color: black;">
        * When you set a column as the index of a DataFrame using set_index(), that column is used to uniquely identify the rows of the DataFrame.<br> The column is removed from the columns part of the DataFrame and becomes part of the index.

</div>

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkred;">
        <strong>
           2. Column as a Regular Column:
        </strong>
        <br> <!-- This adds an empty line between the two parts -->
        <h5 style="color: black;">
        * A regular column is a field in the DataFrame that holds data and is part of the DataFrame structure.
</div>

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkred;">
        <strong>
           3. Using a Column as Both:
        </strong>
        <br> <!-- This adds an empty line between the two parts -->
        <h5 style="color: black;">
        * To have a column serve as both an index and a regular column, you can set that column as the index temporarily and then add it back as a regular column using reset_index(). <br>This will "duplicate" the column, where the original data becomes part of the index and the same data will also appear as a regular column in the DataFrame.
</div>


<div style="border: 2px Darkred; padding: 15px; background-color: #f9f9f9;">
    <h5 style="color: Black;">
        <strong>
            Example:
</div>

In [85]:
# Create a sample DataFrame
data = {
    'A': [1, 2, 3],
    'B': ['X', 'Y', 'Z'],
    'C': [10, 20, 30]
}
df = pd.DataFrame(data);

# Set column 'B' as the index
df.set_index('B', inplace=True);

# Now 'B' is the index, and it's no longer a regular column.
print("DataFrame with 'B' as index:");
print(df);

# Reset the index, which will bring 'B' back as a regular column
df_reset = df.reset_index();

# Now 'B' is both an index and a regular column
print("\nDataFrame with 'B' as both index and regular column:");
print(df_reset);

DataFrame with 'B' as index:
   A   C
B
X  1  10
Y  2  20
Z  3  30

DataFrame with 'B' as both index and regular column:
   B  A   C
0  X  1  10
1  Y  2  20
2  Z  3  30

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            19. What do axis 0 and axis 1 mean in a dataframe (df)?
        </strong>
</div>

In a Pandas DataFrame, axis is a parameter used to specify the direction along which a particular operation is to be applied. <br>The values 0 and 1 represent two different axes:

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkred;">
        <strong>
           1. axis=0 (Rows, Vertical Axis):
        </strong>
        <br> <!-- This adds an empty line between the two parts -->
        <h5 style="color: black;">
        * axis=0 refers to operations along the rows of the DataFrame, i.e., it works vertically.<br>
        * Most commonly, this axis is used when you want to apply a function to each column (since columns are the units of data within rows).<br>
        * Operations like summing, averaging, or dropping rows are often done along axis=0.
</div>

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkred;">
        <strong>
           1. Example Operations for axis=0:
        </strong>
        <br> <!-- This adds an empty line between the two parts -->
        <h5 style="color: black;">
        * Dropping rows: If you want to remove a row (or rows), you use axis=0.<br>
        * Applying functions across columns: When performing a sum or mean across columns, you use axis=0 to apply the operation across rows for each column
</div>

<div style="border: 2px Darkred; padding: 15px; background-color: #f9f9f9;">
    <h5 style="color: Black;">
        <strong>
            Example:
</div>

In [86]:
df.sum(axis=0);

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkred;">
        <strong>
           2. axis=1 (Columns, Horizontal Axis):
        </strong>
        <br> <!-- This adds an empty line between the two parts -->
        <h5 style="color: black;">
        * axis=1 refers to operations along the columns of the DataFrame, i.e., it works horizontally.<br>
        * When you use axis=1, you are typically applying a function across the rows for each column.<br>
        * Operations like summing, averaging, or dropping columns are typically done along axis=1
</div>

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkred;">
        <strong>
           1. Example Operations for axis=1:
        </strong>
        <br> <!-- This adds an empty line between the two parts -->
        <h5 style="color: black;">
        * Dropping columns: If you want to remove a column (or columns), you use axis=1.<br>
        * Applying functions across rows: When performing a sum or mean across rows, you use axis=1 to apply the operation across columns for each row.

<div style="border: 2px Darkred; padding: 15px; background-color: #f9f9f9;">
    <h5 style="color: Black;">
        <strong>
            Example:
</div>

In [87]:
df.sum(axis=1);

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkred;">
        <strong>
           Visualizing Axis 0 and Axis 1:
        </strong>
        <br> <!-- This adds an empty line between the two parts -->
        <h5 style="color: black;">
        * visualizing a simple DataFrame to see how axis=0 and axis=1 work:

In [89]:
# Create a sample DataFrame
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
});

print(df);

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            20. In filtering, explain the following concepts:
        </strong>
        <br><br> <!-- This adds an empty line between the two parts -->
        * Create a new column with their average:<br>
        &<br>
        |<br>
        ~<br>
        Isin<br>
        between
</div>

In [90]:
# Sample DataFrame
df = pd.DataFrame({
    'A': [10, 20, 30],
    'B': [40, 50, 60]
});

# Create a new column with the average of columns 'A' and 'B'
df['avg'] = df[['A', 'B']].mean(axis=1);

print(df);

    A   B   avg
0  10  40  25.0
1  20  50  35.0
2  30  60  45.0

In [91]:
# Sample DataFrame
df = pd.DataFrame({
    'A': [10, 20, 30],
    'B': [40, 50, 60]
});

# Filter rows where 'A' > 15 AND 'B' < 60
filtered_df = df[(df['A'] > 15) & (df['B'] < 60)];

print(filtered_df);

    A   B
1  20  50

In [92]:
# Filter rows where 'A' < 20 OR 'B' > 50
filtered_df = df[(df['A'] < 20) | (df['B'] > 50)]

print(filtered_df);

    A   B
0  10  40
2  30  60

In [93]:
# Filter rows where 'A' is not 20
filtered_df = df[~(df['A'] == 20)]

print(filtered_df);

    A   B
0  10  40
2  30  60

In [94]:
# Filter rows where 'A' is in the list [10, 30]
filtered_df = df[df['A'].isin([10, 30])]

print(filtered_df);

    A   B
0  10  40
2  30  60

In [95]:
# Filter rows where 'A' is between 10 and 25
filtered_df = df[df['A'].between(10, 25)]

print(filtered_df);

    A   B
0  10  40
1  20  50